* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #e9e8e6;
}

@each $tipo, $numero in $fonts{
    .fuente-#{$tipo}{
        font-weight: $numero
    }
}

.nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 6rem;
    background-color: #000;
}

.nav .logo {
    display: flex;
    width: 60%;
    margin: 0.5rem;
    padding: 3px;
}

.nav .nav__links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: end;
    text-align: -moz-center;
}

.nav-item a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-out;
    padding: 0 .5rem;
    &:hover{
        text-decoration: none;
        color: rgb(132, 130, 129);
    }
}

#navbarDropdown{
    &:hover{
        color: rgb(132, 130, 129);
    }
}

.dropdown-menu{
    background-color: #000;
    border: 1px solid #fff;
}

.dropdown-item{
    &:hover{
        font-weight: 700;
        background-color: #fff;
        color: #515151;
    }
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
    &:hover{
        cursor: pointer;
    }
}


#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.welcome{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
}

.welcome p{
    width: 519px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.welcome__img{
    width: 70%;
    margin-left: 8rem;
}

.welcome__title{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 60px;
    margin-left: 1rem;
}

.welcome__btn{
    background-color: rgb(37, 37, 98);
    padding: 0.6rem 2.5rem;
    display: inline-block;
    color: white;
    font-size: 13px;
    margin-top: 1.2rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.offcanvas-end{
    width: 380px;
}

.offcanvas{
    background-color: rgb(96, 96, 129);
}

#offcanvasRightLabel{
    text-align: center;
    color: #fff;
}

.link{
	color: lightblue;
	font-weight: 700;
	font-size: large;
	text-align: center;
	list-style-type: none;
	padding: 40px;
	text-decoration: none;
    &:hover{
        color: #fff;
    }
}

.index__fotoplaylist{
	display: inline-block;
	width: 66%;
	margin: 3rem;
	border: 2px solid #fff;
}

.playlist_items{
	color: #fff;
	font-weight: 300;
	font-size: medium;
	text-align: left;
	list-style-type: none;
}

.datos{
    display: flex;
    justify-content: space-around;
	background-color: rgb(132, 130, 129);
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

.estadistica{
    width: 170px;
    text-align: center;
	display: flex;
	justify-content: space-around;
    padding: 2rem;
    font-weight: 700;
    font-size: x-large;
	color: #000;
    margin: 1rem 0rem 1.5rem 0rem;
}

.index{
	font-weight: 500;
	font-size: medium;
	text-align: left;
	color: rgb(20, 20, 50);
	margin: 3rem;
	display: inline-block;
}

.index__txf{
	display: inline-block;
	width: 40%;
	margin: 2rem;
    border: 1px solid #000;
}

.index__titulo{
	font-weight: 900;
	font-size: xx-large;
	text-align: center;
	color: #3f3f3f;
	margin: 2rem;
	display: block;
    &::after{
        content: '!!';
    }
}

.index__info{
    font-weight: 500;
    font-size: medium;
}

.footer__titulo{
    font-weight: 900;
    font-size: medium;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0;
}

.footer__info{
    font-weight: 500;
    font-size: small;
    text-align: center;
    list-style-type: none;
}

.footer__icon{
    max-width: 15px;
}

.footer__link{
    color: #fff;
    text-decoration: none;
    &:hover{
        color: rgb(132, 130, 129);
    }
}

.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #fff;
    background-color: #000;
    text-align: left;
}

@media only screen and (max-width: 720px) {

    .nav .logo{
        width: 100%;
    }

    .nav .nav__links {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 80px;
        background-color: #000;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
        transition: .5s ease;
    }

    .nav li {
        padding: 15px;
    }

    .nav li:first-child {
        margin-top: 50px;
    }

    .nav li a {
        font-size: 1rem;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        transform: translate(0%) !important;
    }

    .dropdown-menu.show{
        height: 400px;
    }

    .dropdown-item{
        &:hover{
            font-weight: 500;
            background-color: #000;
            color: #fff;
        }
    }

    #navbarDropdown{
        &:hover{
            color: #fff;
        }
    }

    .nav-item a{
        &:hover{
            color: #fff;
        }
    }

    .welcome__title{
        font-size: 1.3rem;
        line-height: 40px;
    }

    .welcome p{
        width: 240px;
    }

    .welcome__img{
        margin-left: 0;
        width: 100%;
    }

    .welcome__btn{
        font-size: 11px

    }

    .offcanvas-end{
        width: 365px;
    }

    .link{
        &:hover{
            color: lightblue;
        }
    }

    .datos{
        margin-bottom: 0;
    }

    .estadistica{
        width: 80px;
        font-size: 1rem;
    }

    .index__titulo{
        font-size: 1.3rem;
    }

    .index__info{
        font-size: 0.9rem;
    }

    .index__txf{
        margin: 1rem;
    }

    .footer__titulo{
        font-size: 0.8rem;
    }

    .footer__info{
        font-size: 0.7rem;
    }

    .footer__link{
        &:hover{
            color: #fff;
        }
    }

    .copyright{
        font-size: 0.5rem;
    }
    
}

/*integrantes.html*/

.integrantes__titulo{
	font-weight: 900;
	font-size: xx-large;
	text-align: center;
	color: #3f3f3f;
	margin: 2rem;
	display: block;
}

@mixin images($width) {
    width: $width;
}

.integrantes__foto{
	@include images(15%);
	margin: 2rem;
}

.integrantes__info{
	font-weight: 500;
    font-size: large;
    text-align: left;
    margin: 2rem;
    display: block;
	color: #3A2820;
}

.carousel{
    width: 60%;
    margin: 2rem;
}

@media only screen and (max-width: 720px) {

    .integrantes__titulo{
        font-size: 1.8rem;
    }
    
    .integrantes__foto{
        width: 34%;
    }

    .carousel{
        width: 85%;
    }

    .integrantes__info{
        font-size: 0.9rem;
    }

    .integrantes__discos{
        width: 85%;
        margin: 2rem;
    }
}

/*discografia.html*/

.discografia__logo{
    display: flex;
    height: 100%;
    margin: 3rem;
}

.album{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album ul{
    background: grey;
    padding: 30px;
}

.album__foto{
    height: max-content;
    padding: 5px;
}

.discografia__titulo{
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 0.5rem;
}

.discografia__lista{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    list-style-type: none;
    transition: color 0.3s ease-out;
    padding: 0 .5rem;
}

.discografia__info{
    font-weight: 300;
    font-size: large;
    text-align: left;
    margin: 2rem;
    display: block;
	color: #000;
}

.back__index{
    margin-right: 1rem;
    text-align: right;
}

.back__index2{
    font-weight: 500;
    font-size: 0.9rem;
    color: #000;
    text-decoration: none;
    &:hover{
        color: #3f3f3f;
    }
}

@media only screen and (max-width: 720px) {

    .discografia__logo{
        width: 50%;
    }

    .album__foto{
        width: 100%;
        padding: 0;
    }

    .discografia__info{
        font-size: 0.9rem;
    }

}

/*giras.html*/

.giras__titulo{
	font-weight: 900;
	font-size: xx-large;
	text-align: center;
	color: rgb(59, 46, 46);
	margin: 2rem;
	display: block;
}

.giras__foto{
	display: inline;
	width: 40%;
	margin: 2rem;
    &:hover{
        transform: scale(1.2);
    }
}

.giras__info{
    font-weight: 500;
    font-size: large;
    text-align: left;
    margin: 2rem;
    display: block;
	color: #030b45;
}

@media only screen and (max-width: 720px) {

    .giras__titulo{
        font-size: 1.8rem;
    }
    
    .giras__foto{
        width: 75%;
        &:hover{
            transform: none;
        }
    }

    .giras__info{
        font-size: 0.9rem;
    }
}

/*contacto.html*/

.contact{
	color: #3A2820;
	margin-bottom: 1rem;
	padding: 1rem;
}

textarea{
	background-color: rgb(60, 60, 215);
	color: #fff;
}

input{
	background-color: #fff;
	color: rgb(60, 60, 215);
	border-radius: 5px;
    height: 40px;
    width: 8%;
}

.form-control{
    width: 25%;
}

@media only screen and (max-width: 720px) {
    .form-control{
        width: 60%;
    }

    input{
        width: 25%;
    }

    .contact__foto{
        width: 100%;
    }
}